:root {
  /* colors */
  --dark: hsl(0, 6%, 9%);
  --linearDark: linear-gradient(to right, hsl(0, 0%, 18%), hsl(0, 0%, 11%));
  --linearOrange: linear-gradient(to right, hsl(27, 67%, 43%), hsl(27, 100%, 30%));
  --orange: hsl(27, 67%, 43%);
  --forestGreen: hsl(156, 100%, 29%);
  --whitish: hsl(84, 8%, 88%);
  --dimContrast: hsl(0, 0%, 58%);

  --ff: 'Helvetica', Arial, sans-serif;

  --p: 1rem/1.5em var(--ff);
  --h1: 600 2rem/1.2em var(--ff);
  --h2: 600 1.5rem/1.2em var(--ff);
  --h3: 600 1rem/1.2em var(--ff);

  --spacing1: 4px;
  --spacing2: 8px;
  --spacing3: 16px;
  --spacing4: 24px;
  --spacing5: 40px;
  --spacing6: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  text-wrap: balance;
  font-family: var(--ff);
  background-color: var(--dark);
  color: var(--whitish);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
  margin: var(--spacing2) 0;
}

h3 {
  font: var(--h3);
  margin: var(--spacing2) 0;
}

p {
  margin: var(--spacing2) 0;
}

a {
  color: var(--whitish);
  text-decoration: none;
}

a:hover {
  color: var(--forestGreen);
}

.btn, button {
  all: unset;
  display: inline-block;
  margin: var(--spacing2) 0;
  background: var(--linearOrange);
  padding: var(--spacing2) var(--spacing3);
  color: var(--dark);
  border-radius: var(--spacing2);
  font: var(--p);
  cursor: pointer;
  text-align: center;
}

.btn:hover, button:hover{
  background: var(--dark);
  color: var(--orange);
}

img {
  width: 100%;

}

input, textarea{
  all: unset;
}

.cardFudament{
  background: var(--linearDark);
  border-radius: var(--spacing3);
  padding: var(--spacing3);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.green{
  color: var(--forestGreen)
}
.hidden{
  visibility: hidden;
}

.list-option{
  padding: var(--spacing2) var(--spacing3);
  background-color: var(--dark);
  color: var(--dimContrast);
  margin-block: var(--spacing1);
  border-radius: var(--spacing2);
  cursor: pointer;
}

.list-option:hover{
  color: var(--whitish);
}

.list-option.active{
  background-color: var(--forestGreen);
  color: var(--dark);
  transition: all 0.2s ease-in;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.flex-column{
  display: flex;
  flex-direction: column;
  gap: var(--spacing1);
}

.vert-flex-buttons{
  display: flex;
  justify-content: center;
  gap: var(--spacing3)
}

.main-page-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-buttons > button {
  width: 12%;
}

.train-model-main-overlay{
  display: grid;
  gap: var(--spacing5);
  grid-template-columns: 10% auto 10%;
}

.train-model-cards-flex{
  display: flex;
  gap: var(--spacing3);
  width: 100%;
  min-height: 60vh;
}

.train-model-cards-flex > div{
  flex-grow: 1;
  flex-basis: 0;
}

.new-model-overlay {
  display: grid;
  grid-template-rows: 80% 20%; /* First row takes 80% of the height, second row takes 20% */
  gap: var(--spacing3);
  height: 90vh; /* Full window height */
  margin: 20px;
}

.new-model-bottom-container{
  display: grid;
  gap: var(--spacing5);
  grid-template-columns: 10% auto 10%;
}

.new-model-cards-flex{
  display: grid;
  gap: var(--spacing4);
  grid-template-columns: 35% 35% auto;
}
.new-model-cards-flex > div{
  flex-grow: 1;
  flex-basis: 1;
}

.load-file-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

input.simple-input,
textarea.simple-input{
  background-color: var(--dark);
  color: var(--whitish);
  padding: var(--spacing2) var(--spacing3);
  border-radius: var(--spacing2);
}

textarea.simple-input{
  min-height: 100px;
}

.simple-input-label{
  font: var(--p);
}

input.simple-input.fullWidth,
textarea.simple-input.fullWidth{
  width: 100%;
  box-sizing: border-box;/
}

.load-file-pair-container{
  display: flex;
  gap: 10px;
  position: relative;
  align-items: last baseline;
}

tr{
  color: var(--dimContrast)
}

th{
  text-align: left;
}

td{
}

.col-avg-price{
  color: var(--orange)
}

